<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Arajanlat</title>
		<link rel="stylesheet" href="./quote-template/assets/bootstrap/css/bootstrap.min.css">
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-1 d-flex d-xl-flex flex-grow-1 justify-content-xl-center align-items-xl-center">
					<div class="row d-xl-flex flex-grow-1 justify-content-xl-center">
						<div class="col-auto text-center align-self-center">
							<img src="assets/img/logo.svg">
						</div>
						<div class="col">
							<p>
								<br>
								Ablak Bazár Kft.
								<br>
								2011, Budakalász, Vasút sor 80.
								<br>
								Tel./Fax: +36 30 424 1733
								<br>
								Mobil: 
+36 30 424 1733
								<br>
								E-mail: iroda@ablakbazar.hu
								<br>
								Cégjegyzékszám: 01-09-941274
								<br>
								Adószám: 22736873-2-41
								<br>
								<br>
							</p>
						</div>
					</div>
				</div>
				<div class="col d-xl-flex flex-column justify-content-xl-center align-items-xl-center">
					<h4>
						Árajánlat dátuma: 2022. 05. 05.
						<br>
					</h4>
					<h4>
						Árajánlat azonosítószáma: 31752
						<br>
					</h4>
					<h4>
						Név: bodoganabel
						<br>
					</h4>
				</div>
			</div>
		</div>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	</body>

</html>
